<header
  class="flex flex-col gap-4 justify-between items-center max-w-[50rem] w-[90%] mx-auto mb-[2rem] max-md:p-8 text-center p-4 bg-[linear-gradient(to_bottom,_#2c0a4c,_#450d80)] rounded-b-xl shadow-[0_1px_8px_rgba(0,_0,_0,_0.6)]"
>
  <img
    src="assets/task-management-logo.png"
    alt="Easy Task"
    class="w-[4.5rem] md:w-[3.5rem] object-contain"
  />
  <div class="">
    <h1 class="text-lg md:text-xl m-0 p-0">Easy Task</h1>
    <p class="text-[0.8rem] text-balance m-0">
      Enterprise-level task management without friction
    </p>
  </div>
</header>
