<section
  class="rounded-md shadow-[0_1px_6px_rgba(0,_0,_0,_0.1)] overflow-hidden"
>
  <article class="p-4 text-[#25113d] bg-[#bf9ee5]">
    <h2>Task Title</h2>
    <time class="text-[#3c2c50]">2023-05-01</time>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod,
      nisl eget ultricies ultrices, nunc erat.
    </p>
    <div class="ml-auto w-fit">
      <app-button
        [className]="
          'text-[#decdf2] shadow-[0_1px_3px_rgba(0,_0,_0,_0.3)] transition-all px-6 py-2 bg-[#380774] hover:bg-[#4a0774] active:bg-[#4a0774] hover:shadow-[0_1px_6px_rgba(0,_0,_0,_0.3)] active:shadow-[0_1px_6px_rgba(0,_0,_0,_0.3)] rounded-md'
        "
        >Complete</app-button
      >
    </div>
  </article>
</section>
